/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 28-sep-2025, 19:16:16
    Author     : alvar
*/

/*
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
*/
/* 
    Created on : 18-sep-2025, 16:37:52
    Author     : alvar
*/

.ui-datascroller-content-ov.ui-datascroller .ui-datascroller-header,
body .ui-datascroller .ui-datascroller-footer {
    background: #f8f9fa;
    border: 1px solid #dee2e6;
    color: #495057;
    padding: 1rem;
    font-weight: 700;
}
body .ui-datascroller .ui-datascroller-header {
    border-bottom: 0 none;
}
body .ui-datascroller .ui-datascroller-footer {
    border-top: 0 none;
}
body .ui-datascroller .ui-datascroller-content {
    border: 1px solid #dee2e6;
    background: #ffffff;
    color: #495057;
    padding: 1rem;
    margin-right: 5px;
    border-radius: 10px;
}

body .ui-datascroller .ui-datascroller-item:not(:last-child){
    margin-bottom: 20px;
}

.chat-list-container{
    height: 100%;
}
.chat-list-title{
    display:flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding:10px;
}

.buttons-container{
    display:flex;
    flex-direction:row;
    gap:5px;
}

.output-label-user{
    margin-left:10px; 
    font-size:20pt;
}

#divider-icon{
    margin-right:5px;
}

.chat-list-item{
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content: space-between;
    align-items: center;
    margin-right:5px;
    .receptor-info{
        display:flex;
        flex-direction:row;
        align-items: center;
        gap: 10px;
        .receptor-name{
            display:flex;
            flex-direction:column;
            justify-content: space-between
        }
    }
}

.div-modal-form-container{
    display:flex; 
    flex-direction:column; 
    justify-content: space-between; 
    height:100%;

    .div-modal-form{
        display:flex; 
        flex-direction:row; 
        gap:10px; 
        height: 40px; 
        margin-top:20px;

        #output-label-username{
            display:none;
        }
    }


}

.chat-container{
    height: 100%;
    display:flex;
    flex-direction:column;
    justify-content: space-between;
}
.chat-header{
    height:85px;
    background-color: rgba(192, 229, 248, 0.4);
    display:flex;
    flex-direction:row;
    justify-content: space-between;
    padding:10px;
    padding-left:30px;
    align-items: center;
}
.message-input{
    height:85px;
    background-color: rgba(192, 229, 248, 0.4);
    margin-left: 10px;
    margin-right: 10px;
    border-radius: 10px;
    border: solid 1px #dee2e6;
}

.ui-datatable.borderless thead {
    display: none;
}


.ui-datatable.borderless tbody,
.ui-datatable.borderless tbody tr,
.ui-datatable.borderless tbody td {
    border-style: none;
}

body .ui-datatable .ui-datatable-data > tr > td {
    border:none
}
.message-container-emisor{
    width:60%;
    padding: 5px;
    padding-right:10px;
    display: flex;
    flex-direction: row;
    height: 45px;
    align-content: center;
    border: solid 1px #2196F3;
    background-color: rgba(33, 150, 243,0.05);
    border-radius: 6px;
    flex-wrap: wrap;
    margin-left: 40%;
    justify-content: space-between;
}
.message-container-receptor{
    width:60%;
    padding: 5px;
    padding-left:10px;
    display: flex;
    flex-direction: row;
    height: 45px;
    align-content: center;
    margin-right: 40%;
    border: solid 1px black;
    background-color: rgb(248, 249, 250);
    border-radius: 6px;
    flex-wrap: wrap;
    justify-content: space-between;
}

.ui-avatar-text{
    margin-bottom: 10px;
}

.chat-header-receptor-info{
    display:flex;
    flex-direction:row;
    align-items: center;
    gap: 10px;
}

.btn-container{
    width:100%;
    display:flex;
    justify-content: center;
}

#mediaBtn:disabled:hover{
    cursor: no-drop;
}

@media (max-width: 768px) {
    .chat-header{
        border-radius: 10px;
        border: solid 1px #dee2e6;
        padding-left: 0px;
    }
}